.nav-container{
    background-color:#1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 80px;
}
.cart-added-number{
    font-size: 16px;
    margin-left: 2px;
    color: orange;
}
.menu-items li{
    color: white;
    display: inline;
    cursor: pointer;
    padding-right: 50px;
}
.menu-items li:hover{
    color: orange;
    transition: 0.6s;
}